<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="lidar">
        <link name="lidar_Link">
    <inertial>
      <origin xyz="-0.00829409957033955 7.82707232360735E-14 -0.00854885777715414" rpy="0 0 0" />
      <mass value="0.146695752131392" />
      <inertia ixx="6.22721120792819E-05" ixy="1.71640368936764E-19" ixz="-1.88658076337422E-05" iyy="0.000109673997590949" iyz="-1.60699862691652E-19" izz="0.000125682524275729" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://My_robot/meshes/lidar_Link.STL" />
      </geometry>
       <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://My_robot/meshes/lidar_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lidar_joint" type="fixed">
    <origin xyz="0 0 0.0962499999999427" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lidar_Link" />
    <axis xyz="0 0 0" />
  </joint>
    </xacro:macro>
</robot>